<!DOCTYPE html>
<html lang="en-US">

<%-include('head.ejs') %>

<body data-rsssl="1" class="home page-template page-template-page_f page-template-page_f-php page page-id-3093 woocommerce-no-js">


    <input type="hidden" id="pp_enable_reflection" name="pp_enable_reflection" value="">
    <input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="">
    <input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="">
    <input type="hidden" id="pp_gallery_auto_info" name="pp_gallery_auto_info" value="">
    <input type="hidden" id="pp_image_path" name="pp_image_path" value="images/">
    <input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="index.html">
    <input type="hidden" id="pp_blog_ajax_search" name="pp_blog_ajax_search" value="">
    <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="">
    <input type="hidden" id="pp_topbar" name="pp_topbar" value="">

    <input type="hidden" id="pp_footer_style" name="pp_footer_style" value="4">

    <!-- Begin mobile menu -->
    <div class="mobile_menu_wrapper">
        <a id="close_mobile_menu" href="#"><i class="fa fa-times-circle"></i></a>
        <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
            	<li class="menu-item"><a href="index.html">Home</a></li>
                <li class="menu-item menu-item-has-children menu-item-6"><a href="sample-page.html">Tours</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="tour-grid-fullwidth.html">Tour Grid Fullwidth</a></li>
                        <li class="menu-item"><a href="tour-grid-contain.html">Tour Grid Contain</a></li>
                        <li class="menu-item"><a href="tour-classic-fullwidth.html">Tour Classic Fullwidth</a></li>
                        <li class="menu-item"><a href="tour-classic-contain.html">Tour Classic Contain</a></li>
                        <li class="menu-item"><a href="tour-list-image.html">Tour List Image</a></li>
                        <li class="menu-item"><a href="tour-list.html">Tour List</a></li>
                        <li class="menu-item"><a href="east-europe.html">Single Tour</a></li>
                    </ul>
                </li>
                <li class="megamenu col4 menu-item menu-item-has-children menu-item-8"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column One</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="paris.html">Destination</a></li>
                                <li class="menu-item"><a href="page-fullwidth.html">Page Fullwidth</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Two</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                                <li class="menu-item"><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                                <li class="menu-item"><a href="shop.html">Shop</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Three</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="gallery-fullscreen.html">Gallery Fullscreen</a></li>
                                <li class="menu-item"><a href="gallery-grid-fullwidth.html">Gallery Grid Fullwidth</a></li>
                                <li class="menu-item"><a href="gallery-grid-contain.html">Gallery Grid Contain</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children menu-item-9"><a href="#">Column Four</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="contact-us.html">Contact Header Image</a></li>
                                <li class="menu-item"><a href="contact-us-2.html">Contact Map</a></li>
                                <li class="menu-item"><a href="contact-us-3.html">Contact Fullscreen</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children menu-item-7"><a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="blog-fullwidth.html">Fullwidth</a></li>
                        <li class="menu-item"><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                        <li class="menu-item"><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                        <li class="menu-item"><a href="blog-masonry.html">Masonry</a></li>
                        <li class="menu-item"><a href="blog-masonry-fullwidth.html">Masonry Fullwidth</a></li>
                        <li class="menu-item"><a href="standard-blog-post-with-image.html">Single Post</a></li>
                    </ul>
                </li>
                <li class="megamenu col4 menu-item menu-item-has-children menu-item-10"><a href="#">Shortcodess</a>
                    <ul class="sub-menu">
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column One</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="accordion-toggles.html">Accordion &#038; Toggles</a></li>
                                <li class="menu-item"><a href="alert-boxes.html">Alert Boxes</a></li>
                                <li class="menu-item"><a href="animated-content.html">Animated Content</a></li>
                                <li class="menu-item"><a href="buttons-social-icons.html">Buttons &#038; Social Icons</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Two</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="columns.html">Columns</a></li>
                                <li class="menu-item"><a href="dividers.html">Dividers</a></li>
                                <li class="menu-item"><a href="gallery.html">Gallery</a></li>
                                <li class="menu-item"><a href="google-maps.html">Google Maps</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Three</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="image-animation.html">Image Animation</a></li>
                                <li class="menu-item"><a href="image-teasers.html">Image Teasers</a></li>
                                <li class="menu-item"><a href="media.html">Media</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Four</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                                <li class="menu-item"><a href="promo-boxes.html">Promo Boxes</a></li>
                                <li class="menu-item"><a href="tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End mobile menu -->

    <!-- Begin template wrapper -->
    <div id="wrapper">

        <div class="header_style_wrapper">

            <div class="top_bar  hasbg ">

                <div id="mobile_nav_icon"></div>

                <%-include('normal_menu.ejs') %>
            </div>
        </div>



        <div id="page_caption" class="hasbg parallax  " data-image="upload/1600x1200-12.jpg" data-width="1600" data-height="1200">
            <div class="page_title_wrapper">
                <h1>Tour Grid Fullwidth</h1>
                <div id="crumbs"><a href="/">Home</a> / <span class="current">Tour Grid Fullwidth</span></div>
            </div>
            <div class="parallax_overlay_header"></div>
        </div>



        <div class="ppb_wrapper hasbg ">
            <div class="one withsmallpadding ">
                <div class="page_content_wrapper">
                    <div style="text-align:center">
                        <h1 style="font-size:26px;font-style:italic;font-weight:600;">We are a passionate team with the vision of delivering<br>the best &#038; exiting experience for customers</h1>
                        <div style="font-weight:bold;text-transform:uppercase;letter-spacing:1px;color:#b63327;margin-top:15px;">Travel . Tours . Adventure</div>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
            <div class="one withpadding ppb_team " style="background:#f3f3f3;">
                <div class="page_content_wrapper" style="text-align:center">
                    <h2 class="ppb_title">Our Team</h2>
                    <br>
                    <br>
                    <div class="team_wrapper">
                        <div class="one_fourth animated1 ">
                            <div class="post_img static team animate " style="margin-bottom:10px"><img class="team_pic" src="upload/6.jpg" alt=""></div>
                            <br class="clear">
                            <div id="portfolio_desc_2626" class="portfolio_desc team shortcode ">
                                <h5>Tessane Padares</h5><span class="portfolio_excerpt">Sale Manager</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <ul class="social_wrapper team">
                                    <li><a title="Tessane Padares on Twitter" target="_blank" class="tooltip" href="//twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a title="Tessane Padares on Facebook" target="_blank" class="tooltip" href="//facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a title="Tessane Padares on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a title="Tessane Padares on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="one_fourth animated2 ">
                            <div class="post_img static team animate " style="margin-bottom:10px"><img class="team_pic" src="upload/2.jpg" alt=""></div>
                            <br class="clear">
                            <div id="portfolio_desc_2621" class="portfolio_desc team shortcode ">
                                <h5>Jessica Lee</h5><span class="portfolio_excerpt">Co-Founder & CFO</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor sociis natoque </p>
                                <ul class="social_wrapper team">
                                    <li><a title="Jessica Lee on Twitter" target="_blank" class="tooltip" href="//twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a title="Jessica Lee on Facebook" target="_blank" class="tooltip" href="//facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a title="Jessica Lee on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a title="Jessica Lee on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="one_fourth animated3 ">
                            <div class="post_img static team animate " style="margin-bottom:10px"><img class="team_pic" src="upload/5.jpg" alt=""></div>
                            <br class="clear">
                            <div id="portfolio_desc_2622" class="portfolio_desc team shortcode ">
                                <h5>John Bennett</h5><span class="portfolio_excerpt">Technical Lead & CTO</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor sociis natoque </p>
                                <ul class="social_wrapper team">
                                    <li><a title="John Bennett on Twitter" target="_blank" class="tooltip" href="//twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a title="John Bennett on Facebook" target="_blank" class="tooltip" href="//facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a title="John Bennett on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a title="John Bennett on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="one_fourth animated4 last">
                            <div class="post_img static team animate " style="margin-bottom:10px"><img class="team_pic" src="upload/7.jpg" alt=""></div>
                            <br class="clear">
                            <div id="portfolio_desc_2623" class="portfolio_desc team shortcode last">
                                <h5>Christina Hardy</h5><span class="portfolio_excerpt">Marketing Manager</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <ul class="social_wrapper team">
                                    <li><a title="Christina Hardy on Twitter" target="_blank" class="tooltip" href="//twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a title="Christina Hardy on Facebook" target="_blank" class="tooltip" href="//facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a title="Christina Hardy on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a title="Christina Hardy on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <br class="clear">
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding withbg parallax " data-image="upload/1600x1200-21.jpg" data-width="1600" data-height="1200">
                <div class="page_content_wrapper" style="text-align:center">
                    <h2 class="ppb_title">Why Choose Us</h2>
                    <div style="height:20px"></div>
                    <br>
                    <div class="service_content_wrapper ">
                        <div class="one_third ">
                            <div class="service_wrapper">
                                <div class="service_icon"><i class="fa fa-star"></i></div>
                                <div class="service_title">
                                    <h3>Handpicked Hotels</h3>
                                    <div class="service_content">Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa
                                        <br>
                                        <br>
                                        <a href="about-us.html">learn more</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="one_third ">
                            <div class="service_wrapper">
                                <div class="service_icon"><i class="fa fa-globe"></i></div>
                                <div class="service_title">
                                    <h3>World Class Service</h3>
                                    <div class="service_content">Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa
                                        <br>
                                        <br>
                                        <a href="about-us.html">learn more</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="one_third last">
                            <div class="service_wrapper">
                                <div class="service_icon"><i class="fa fa-thumbs-up"></i></div>
                                <div class="service_title">
                                    <h3>Best Price Guarantee</h3>
                                    <div class="service_content">Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa
                                        <br>
                                        <br>
                                        <a href="about-us.html">learn more</a></div>
                                </div>
                            </div>
                        </div>
                        <br class="clear">
                        <br>
                    </div>
                    <br class="clear">
                </div>
            </div>
            <div class="one withsmallpadding " style="background:#f3f3f3;">
                <div class="page_content_wrapper pt30">
                    <div class="one_fourth">
                        <div class="animate_counter_wrapper"><i class="fa fa-smile-o"></i>
                            <br>
                            <div id="15846128231017350277" class="odometer" style="font-size:44px;line-height:44px;">0</div>
                            <div class="count_separator"><span></span></div>
                            <div class="counter_subject">Happy Customers</div>
                        </div>
                    </div>
                    <div class="one_fourth">
                        <div class="animate_counter_wrapper"><i class="fa fa-bus"></i>
                            <br>
                            <div id="158461282390768429" class="odometer" style="font-size:44px;line-height:44px;">0</div>
                            <div class="count_separator"><span></span></div>
                            <div class="counter_subject">Amazing Tours</div>
                        </div>
                    </div>
                    <div class="one_fourth">
                        <div class="animate_counter_wrapper"><i class="fa fa-briefcase"></i>
                            <br>
                            <div id="1584612823729641674" class="odometer" style="font-size:44px;line-height:44px;">0</div>
                            <div class="count_separator"><span></span></div>
                            <div class="counter_subject">In Business</div>
                        </div>
                    </div>
                    <div class="one_fourth last">
                        <div class="animate_counter_wrapper"><i class="fa fa-comments-o"></i>
                            <br>
                            <div id="1584612823595069488" class="odometer" style="font-size:44px;line-height:44px;">0</div>
                            <div class="count_separator"><span></span></div>
                            <div class="counter_subject">Support Cases</div>
                        </div>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
            <div class="one withsmallpadding ">
                <div class="page_content_wrapper" style="text-align:center">
                    <h2 class="ppb_title">What Customers Say</h2>
                    <br>
                    <div class="testimonial_slider_wrapper">
                        <div class="flexslider" data-height="750">
                            <ul class="slides">
                                <li>
                                    <div class="testimonial_slider_wrapper">Vivamus aliquet felis eu diam ultricies congue. Morbi porta lorem nec consectetur porta. Sed quis dui elit. Pellentesque habitant morbi tristique senectus et netus et male.
                                        <div class="testimonial_slider_meta">
                                            <h6>Mark Anthony</h6>
                                            <div class="testimonial_slider_meta_position">CEO</div>-
                                            <div class="testimonial_slider_meta_company"><a href="#" target="_blank">WikiMedia</a></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial_slider_wrapper">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vestibulum orci quam. Pellentesque habitant morbi tristique senectus et netus et male.
                                        <div class="testimonial_slider_meta">
                                            <h6>Christina Hardy</h6>
                                            <div class="testimonial_slider_meta_position">Marketing Manager</div>-
                                            <div class="testimonial_slider_meta_company"><a href="#" target="_blank">Red Inc.</a></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial_slider_wrapper">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Pellentesque habitant morbi tristique senectus et netus et male.
                                        <div class="testimonial_slider_meta">
                                            <h6>Jane Bennett</h6>
                                            <div class="testimonial_slider_meta_position">Developer</div>-
                                            <div class="testimonial_slider_meta_company"><a href="#" target="_blank">Hubboard Media</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>


    </div>

    <%-include('footer.ejs') %>

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/plugins/parallax.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.easing.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.magnific-popup.js'></script>
    <script type='text/javascript' src='js/plugins/waypoints.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.isotope.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.masory.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.tooltipster.min.js'></script>
	<script type='text/javascript' src='js/plugins/custom_plugins.js'></script>
	<script type='text/javascript' src='js/plugins/custom.js'></script>
	<script type='text/javascript' src='js/ui/core.min.js'></script>
	<script type='text/javascript' src='js/ui/datepicker.min.js'></script>
	<script type='text/javascript' src='js/plugins/custom-date.js'></script>
    <script type='text/javascript' src='js/plugins/flexslider/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='js/plugins/script-plugins.js'></script>
    <script type='text/javascript' src='js/plugins/odometer.min.js'></script>
    <script type='text/javascript' src='js/plugins/script-plugins.js'></script>



</body>

</html>
