<div class="footer_bar ">
    <div id="footer" class="">
        <ul class="sidebar_widget four">
            <li id="text-2" class="widget widget_text">
                <div class="textwidget">
                    <div style="text-align:left;margin-top:10px;">
                        <img src="images/logo@2x_white.png" alt="" style="max-width:100px;">
                        <div style="margin-top:10px;">A Powerful & Beautiful Multi-Purpose WordPress theme with tons of advanced features.
                        </div>
                    </div>
                </div>
            </li>
            <li id="text-3" class="widget widget_text">
                <h2 class="widgettitle">Contact Info</h2>
                <div class="textwidget">
                    <ul class="address">
                        <li><i class="fa fa-map-marker"></i>732/21 Second Street, Manchester, King Street, Kingston United Kingdom</li>
                        <li><i class="fa fa-phone"></i>345-677-554</li>
                        <li><i class="fa fa-mobile"></i>323-678-567</li>
                        <li><i class="fa fa-envelope"></i>info@altairtheme.com</li>
                        <li><i class="fa fa-globe"></i>themegoods.com</li>
                    </ul>
                </div>
            </li>
            <li id="recent-posts-6" class="widget widget_recent_entries">
                <h2 class="widgettitle">Recent Posts</h2>
                <ul>
                    <li>
                        <a href="standard-blog-post-with-image.html">Standard Blog Post With Image</a>
                    </li>
                    <li>
                        <a href="standard-blog-post-with-image.html">Amazing Fullwidth Post</a>
                    </li>
                    <li>
                        <a href="standard-blog-post-with-image.html">Link Post</a>
                    </li>
                    <li>
                        <a href="standard-blog-post-with-image.html">Quote Post</a>
                    </li>
                    <li>
                        <a href="standard-blog-post-with-image.html">Sidebar Post With Slideshow</a>
                    </li>
                </ul>
            </li>
            <li id="tag_cloud-5" class="widget">
                <h2 class="widgettitle">Tags</h2>
                <div class="tagcloud">
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">blog</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">city</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">Design</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">landscape</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">model</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">portrait</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">street</a>
                    <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">street photography</a></div>
            </li>
        </ul>

        <br class="clear">
    </div>

    <div class="footer_bar_wrapper ">
        <div class="social_wrapper">
            <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="flickr"><a title="Flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                <li class="youtube"><a title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                <li class="vimeo"><a title="Vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
                <li class="google"><a title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="pinterest"><a title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="instagram"><a title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div id="copyright">© Copyright Altair Template by Max Themes</div>
        <br class="clear">
        <div id="toTop"><i class="fa fa-angle-up"></i></div>
    </div>
</div>