 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Altair | Stunning Travel Agency HTML Template</title>


    <link rel="shortcut icon" href="upload/TG-Thumb.png">


    <link rel='stylesheet' href='revslider/public/assets/css/settings.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/animation.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/jquery-ui-1.8.24.custom.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' media='all'>
    <link rel='stylesheet' href='js/plugins/flexslider/flexslider.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/tooltipster.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/parallax.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/supersized.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/odometer-theme-minimal.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/custom-css.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/grid.css' type='text/css' media='all'>


    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway%3A200%2C300%2C400%2C500%2C600%2C700%2C400italic&subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Ccyrillic&ver=5.2.5' type='text/css' media='all'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600italic%7CRaleway:700%2C500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
 
</head>
