<div class="mobile_menu_wrapper">
    <a id="close_mobile_menu" href="#"><i class="fa fa-times-circle"></i></a>
    <div class="menu-main-menu-container">
        <ul id="mobile_main_menu" class="mobile_main_nav">
            <li class="menu-item"><a href="index.html">Home</a></li>
            <li class="menu-item menu-item-has-children menu-item-6"><a href="sample-page.html">Tours</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="tour-grid-fullwidth.html">Tour Grid Fullwidth</a></li>
                    <li class="menu-item"><a href="tour-grid-contain.html">Tour Grid Contain</a></li>
                    <li class="menu-item"><a href="tour-classic-fullwidth.html">Tour Classic Fullwidth</a></li>
                    <li class="menu-item"><a href="tour-classic-contain.html">Tour Classic Contain</a></li>
                    <li class="menu-item"><a href="tour-list-image.html">Tour List Image</a></li>
                    <li class="menu-item"><a href="tour-list.html">Tour List</a></li>
                    <li class="menu-item"><a href="east-europe.html">Single Tour</a></li>
                </ul>
            </li>
            <li class="megamenu col4 menu-item menu-item-has-children menu-item-8"><a href="#">Pages</a>
                <ul class="sub-menu">
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column One</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="about-us.html">About Us</a></li>
                            <li class="menu-item"><a href="paris.html">Destination</a></li>
                            <li class="menu-item"><a href="page-fullwidth.html">Page Fullwidth</a></li>
                        </ul>
                    </li>
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column Two</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                            <li class="menu-item"><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                            <li class="menu-item"><a href="shop.html">Shop</a></li>
                        </ul>
                    </li>
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column Three</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="gallery-fullscreen.html">Gallery Fullscreen</a></li>
                            <li class="menu-item"><a href="gallery-grid-fullwidth.html">Gallery Grid Fullwidth</a></li>
                            <li class="menu-item"><a href="gallery-grid-contain.html">Gallery Grid Contain</a></li>
                        </ul>
                    </li>
                    <li class="hidden menu-item menu-item-has-children menu-item-9"><a href="#">Column Four</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="contact-us.html">Contact Header Image</a></li>
                            <li class="menu-item"><a href="contact-us-2.html">Contact Map</a></li>
                            <li class="menu-item"><a href="contact-us-3.html">Contact Fullscreen</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children menu-item-7"><a href="#">Blog</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="blog-fullwidth.html">Fullwidth</a></li>
                    <li class="menu-item"><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                    <li class="menu-item"><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                    <li class="menu-item"><a href="blog-masonry.html">Masonry</a></li>
                    <li class="menu-item"><a href="blog-masonry-fullwidth.html">Masonry Fullwidth</a></li>
                    <li class="menu-item"><a href="standard-blog-post-with-image.html">Single Post</a></li>
                </ul>
            </li>
            <li class="megamenu col4 menu-item menu-item-has-children menu-item-10"><a href="#">Shortcodess</a>
                <ul class="sub-menu">
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column One</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="accordion-toggles.html">Accordion &#038; Toggles</a></li>
                            <li class="menu-item"><a href="alert-boxes.html">Alert Boxes</a></li>
                            <li class="menu-item"><a href="animated-content.html">Animated Content</a></li>
                            <li class="menu-item"><a href="buttons-social-icons.html">Buttons &#038; Social Icons</a></li>
                        </ul>
                    </li>
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column Two</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="columns.html">Columns</a></li>
                            <li class="menu-item"><a href="dividers.html">Dividers</a></li>
                            <li class="menu-item"><a href="gallery.html">Gallery</a></li>
                            <li class="menu-item"><a href="google-maps.html">Google Maps</a></li>
                        </ul>
                    </li>
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column Three</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="image-animation.html">Image Animation</a></li>
                            <li class="menu-item"><a href="image-teasers.html">Image Teasers</a></li>
                            <li class="menu-item"><a href="media.html">Media</a></li>
                        </ul>
                    </li>
                    <li class="hidden menu-item menu-item-has-children"><a href="#">Column Four</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                            <li class="menu-item"><a href="promo-boxes.html">Promo Boxes</a></li>
                            <li class="menu-item"><a href="tabs.html">Tabs</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>