<!DOCTYPE html>
<html lang="en-US">

<%-include('head.ejs') %>

<body data-rsssl="1" class="home page-template page-template-page_f page-template-page_f-php page page-id-3093 woocommerce-no-js">


    <input type="hidden" id="pp_enable_reflection" name="pp_enable_reflection" value="">
    <input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="">
    <input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="">
    <input type="hidden" id="pp_gallery_auto_info" name="pp_gallery_auto_info" value="">
    <input type="hidden" id="pp_image_path" name="pp_image_path" value="images/">
    <input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="index.html">
    <input type="hidden" id="pp_blog_ajax_search" name="pp_blog_ajax_search" value="">
    <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="">
    <input type="hidden" id="pp_topbar" name="pp_topbar" value="">

    <input type="hidden" id="pp_footer_style" name="pp_footer_style" value="4">

    <!-- Begin mobile menu -->
    <div class="mobile_menu_wrapper">
        <a id="close_mobile_menu" href="#"><i class="fa fa-times-circle"></i></a>
        <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
            	<li class="menu-item"><a href="index.html">Home</a></li>
                <li class="menu-item menu-item-has-children menu-item-6"><a href="sample-page.html">Tours</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="tour-grid-fullwidth.html">Tour Grid Fullwidth</a></li>
                        <li class="menu-item"><a href="tour-grid-contain.html">Tour Grid Contain</a></li>
                        <li class="menu-item"><a href="tour-classic-fullwidth.html">Tour Classic Fullwidth</a></li>
                        <li class="menu-item"><a href="tour-classic-contain.html">Tour Classic Contain</a></li>
                        <li class="menu-item"><a href="tour-list-image.html">Tour List Image</a></li>
                        <li class="menu-item"><a href="tour-list.html">Tour List</a></li>
                        <li class="menu-item"><a href="east-europe.html">Single Tour</a></li>
                    </ul>
                </li>
                <li class="megamenu col4 menu-item menu-item-has-children menu-item-8"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column One</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="paris.html">Destination</a></li>
                                <li class="menu-item"><a href="page-fullwidth.html">Page Fullwidth</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Two</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                                <li class="menu-item"><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                                <li class="menu-item"><a href="shop.html">Shop</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Three</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="gallery-fullscreen.html">Gallery Fullscreen</a></li>
                                <li class="menu-item"><a href="gallery-grid-fullwidth.html">Gallery Grid Fullwidth</a></li>
                                <li class="menu-item"><a href="gallery-grid-contain.html">Gallery Grid Contain</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children menu-item-9"><a href="#">Column Four</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="contact-us.html">Contact Header Image</a></li>
                                <li class="menu-item"><a href="contact-us-2.html">Contact Map</a></li>
                                <li class="menu-item"><a href="contact-us-3.html">Contact Fullscreen</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children menu-item-7"><a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="blog-fullwidth.html">Fullwidth</a></li>
                        <li class="menu-item"><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                        <li class="menu-item"><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                        <li class="menu-item"><a href="blog-masonry.html">Masonry</a></li>
                        <li class="menu-item"><a href="blog-masonry-fullwidth.html">Masonry Fullwidth</a></li>
                        <li class="menu-item"><a href="standard-blog-post-with-image.html">Single Post</a></li>
                    </ul>
                </li>
                <li class="megamenu col4 menu-item menu-item-has-children menu-item-10"><a href="#">Shortcodess</a>
                    <ul class="sub-menu">
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column One</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="accordion-toggles.html">Accordion &#038; Toggles</a></li>
                                <li class="menu-item"><a href="alert-boxes.html">Alert Boxes</a></li>
                                <li class="menu-item"><a href="animated-content.html">Animated Content</a></li>
                                <li class="menu-item"><a href="buttons-social-icons.html">Buttons &#038; Social Icons</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Two</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="columns.html">Columns</a></li>
                                <li class="menu-item"><a href="dividers.html">Dividers</a></li>
                                <li class="menu-item"><a href="gallery.html">Gallery</a></li>
                                <li class="menu-item"><a href="google-maps.html">Google Maps</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Three</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="image-animation.html">Image Animation</a></li>
                                <li class="menu-item"><a href="image-teasers.html">Image Teasers</a></li>
                                <li class="menu-item"><a href="media.html">Media</a></li>
                            </ul>
                        </li>
                        <li class="hidden menu-item menu-item-has-children"><a href="#">Column Four</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                                <li class="menu-item"><a href="promo-boxes.html">Promo Boxes</a></li>
                                <li class="menu-item"><a href="tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End mobile menu -->

    <!-- Begin template wrapper -->
    <div id="wrapper">
        <div class="header_style_wrapper">

            <div class="top_bar  hasbg ">

                <div id="mobile_nav_icon"></div>
                <%-include('normal_menu.ejs') %>
            </div>
        </div>

        
        <div id="page_caption" class="hasbg parallax fullscreen notransparent" data-image="upload/1600x1200-12.jpg" data-width="1600" data-height="1200">
            <div class="page_title_wrapper">
                <div class="tour_country_subheader">Seoul, Busan, Jeju</div>
                <br class="clear">
                <h1>Summer</h1>
            </div>
            <div class="parallax_overlay_header"></div>
        </div>

        
        
        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg fullwidth fullscreen ">
            <div class="inner">

                <!-- Begid Main content -->
                <div class="inner_wrapper">

                    <div class="tour_meta_wrapper">
                        <div class="page_content_wrapper">
                            <div class="one_fifth">
                                <div class="tour_meta_title">Date</div>
                                <div class="tour_meta_value">18 Dec - 27 Dec</div>
                            </div>
                            <div class="one_fifth">
                                <div class="tour_meta_title">Duration</div>
                                <div class="tour_meta_value">10 Days</div>
                            </div>
                            <div class="one_fifth">
                                <div class="tour_meta_title">Price</div>
                                <div class="tour_meta_value"><span class="tour_normal_price">$4000</span><span class="tour_discount_price">$3000</span></div>
                            </div>
                            <div class="one_fifth">
                                <div class="tour_meta_title">Activity</div>
                                <div class="tour_meta_value">Light</div>
                            </div>
                            <div class="one_fifth last">
                                <div class="tour_meta_title">Group</div>
                                <div class="tour_meta_value">Max 20</div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar_content full_width pt60">

                        <div class="page_content_wrapper">
                            <div style="text-align:center">
                                <h2 class="ppb_title">East Europe Most Romantic Trip</h2>
                                <div class="page_caption_desc">Experiences 9 days romantic trip.</div>
                            </div>
                            <p>dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <p class="pb40">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla</p>
                            <p>
                                <iframe src="http://player.vimeo.com/video/107469289?title=0&byline=0&portrait=0&color=ffffff" width="960" height="540" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                <br>
                            </p>
                            <div style="text-align:center" class="pt60">
                                <h2 class="ppb_title">Tour Program</h2>
                                <div class="page_caption_desc">Experience World Class 5 Stars Hotels</div>
                            </div>
                            <br>
                            <br>
                            <br>
                             <p>
                            <div class="pp_accordion">
                                <h3>                                            
                                    <span class="tour_program_place"><i class="fa fa-tags"></i>Munich, Vienna <span class="tour_program_title">Day 1-2</span></span>
                                </h3>
                                    
                                <div>
                                    <p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close">
                                <h3>                                            
                                    <span class="tour_program_place"><i class="fa fa-tags"></i>Budapest, Bratislava <span class="tour_program_title">Day 2-3</span></span>
                                </h3>
                                    
                                <div>
                                    <p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close">
                                <h3>                                            
                                    <span class="tour_program_place"><i class="fa fa-tags"></i>Cesky Krumlov, Hallstat<span class="tour_program_title">Day 4-7</span></span>
                                </h3>
                                    
                                <div>
                                    <p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close">
                                <h3>                                            
                                    <span class="tour_program_place"><i class="fa fa-tags"></i>Hallstat, Salzburg, Munich<span class="tour_program_title">Day 7-9</span></span>
                                </h3>
                                    
                                <div>
                                    <p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                </div>
                            </div>
                        </p>
                            <br>
                            <br>
                                
                            <br>
                                 
                            
                
                        </div>

                            
                        <div class="blog_next_prev_wrapper tour">
                            <div class="post_previous"><a href="standard-blog-post-with-image.html">
                                <span class="post_previous_icon"><i class="fa fa-angle-left"></i></span>
                                <div class="post_previous_content">
                                    <h6>Previous Tour</h6>
                                    <strong><a class="post_prev_next_link" data-img="upload/1600x1200-18-150x150.jpg" href="east-europe.html">Winter Season</a></strong>
                                </div>
                            </a></div>
                            <span class="separated"></span>
                            <div class="post_next"><a href="standard-blog-post-with-image.html">
                                <span class="post_next_icon"><i class="fa fa-angle-right"></i></span>
                                <div class="post_next_content">
                                    <h6>Next Tour</h6>
                                    <strong><a class="post_prev_next_link" data-img="upload/1600x1200-11-150x150.jpg" href="east-europe.html">Summer Season</a></strong>
                                </div>
                            </a></div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End main content -->

        </div>
 
        <div id="tour_book_wrapper" style="background-image: url('upload/1600x1200-12.jpg');">
            <div class="tour_book_content">
                <a id="booking_cancel_btn" href="javascript:;"><i class="fa fa-close"></i></a>
                <div class="tour_book_form">
                    <div class="tour_book_form_wrapper">
                        <h2 class="ppb_title">Booking for East Europe</h2>
                        <div id="reponse_msg">
                            <ul></ul>
                        </div>

                        <form id="pp_booking_form" method="post" action="/wp-admin/admin-ajax.php">
                            <input type="hidden" id="action" name="action" value="pp_booking_mailer">
                            <input type="hidden" id="tour_title" name="tour_title" value="East Europe">
                            <input type="hidden" id="tour_url" name="tour_url" value="index.html">

                            <div class="one_half">
                                <label for="first_name">First Name</label>
                                <input id="first_name" name="first_name" type="text" class="required_field">
                            </div>

                            <div class="one_half last">
                                <label for="last_name">Last Name</label>
                                <input id="last_name" name="last_name" type="text" class="required_field">
                            </div>

                            <br class="clear">
                            <br>

                            <div class="one_half">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="text" class="required_field">
                            </div>

                            <div class="one_half last">
                                <label for="phone">Phone</label>
                                <input id="phone" name="phone" type="text">
                            </div>

                            <br class="clear">
                            <br>

                            <div class="one">
                                <label for="message">Additional Message</label>
                                <textarea id="message" name="message" rows="7" cols="10"></textarea>
                            </div>

                            <br class="clear">

                            <div class="one">
                                <p>
                                    <input id="booking_submit_btn" type="submit" value="Book By Email">
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="parallax_overlay_header tour"></div>
        </div>



    </div>

    <%-include('footer.ejs') %>

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/plugins/parallax.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.easing.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.magnific-popup.js'></script>
    <script type='text/javascript' src='js/plugins/waypoints.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.isotope.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.masory.js'></script>
    <script type='text/javascript' src='js/plugins/jquery.tooltipster.min.js'></script>
	<script type='text/javascript' src='js/plugins/custom_plugins.js'></script>
	<script type='text/javascript' src='js/plugins/custom.js'></script>
	<script type='text/javascript' src='js/ui/core.min.js'></script>
	<script type='text/javascript' src='js/ui/datepicker.min.js'></script>
    <script type='text/javascript' src='js/ui/widget.min.js'></script>
    <script type='text/javascript' src='js/ui/accordion.min.js'></script>
	<script type='text/javascript' src='js/plugins/custom-accordion.js'></script>
	<script type='text/javascript' src='js/plugins/custom-date.js'></script>
    <script type='text/javascript' src='js/plugins/flexslider/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='js/plugins/script-plugins.js'></script>
    <script type='text/javascript' src='js/plugins/odometer.min.js'></script>
    <script type='text/javascript' src='js/plugins/script-plugins.js'></script>



</body>

</html>
